body{
	margin:0;
	font-family: arial;
	font-size: 12px;
}
.topo {
	height:30px;
	background-color:#333333;
}
.topoint {
	width:100%;
	max-width:1040px;
	height: 30px;
	margin:auto;
}
.topoleft{
	width: 50%;
	height: 30px;
	float: left;
	}
.toporight{
	width: 50%;
	height:30px;
	float:right;
}
.topoleft ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.topoleft li{
	float: left;
	height: 30px;
	line-height:30px;
	margin-left: 8px;
	margin-right: 8px;
}
.topoleft li a{
	text-decoration: none;
	color: #fff;
}
.topoleft li .ativo{
	color:blue;
}
